body {
    margin: 0;
}

.container {
    margin: 0 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template: repeat(3,1fr)/repeat(2,1fr);
    background-color: #483D8B;
    grid-column-gap:40px; 
}

.board{
    
         
}
.title{
    color:white;
    font-weight: 700;
font-size: 40px;
line-height: 36px;
    
}

#score-h{
    min-height: 8rem;
    max-width: 3em;
    border: solid black 4px;
    text-align: center;
    color: red;
    font-family: 'DotGothic16';
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    border: 1px solid #000000;
    background: black;
    border-radius: 6px;
    }
#score-g{
    min-height: 8rem;
    max-width: 4em;
    border: solid black 4px;
    text-align: center;
    color: red;
    font-family: 'DotGothic16';
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    border: 1px solid #000000;
    background: black;
    border-radius: 6px;
}

.inc{
    position:absolute;
    max-width: 10em;
    margin-top: 100px;
     
}
#inc1,#inc2,#inc3,#inc21,#inc22,#inc23{
    border:2px solid white;
    background-color: #483D8B;
    color:white;
    border-radius: 3px;
}